{{define "left"}}
	<div id="platdata">
		<img src="/manage/static/img/platdata.png"></img>
		<span>平台数据</span>
	</div>
	<div id="statistics" class="for_left for_platdata hide">
		<span style="padding-left: 75px;">数据统计</span>
	</div>
	<div id="userinfo">
		<img src="/manage/static/img/userinfo.png"></img>
		<span>用户信息</span>
	</div>
	<div  class="for_left for_userinfo hide">
		<span style="padding-left: 75px;">用户详情</span>
	</div>
	<div  class="for_left for_userinfo hide">
		<span style="padding-left: 75px;">账户详情</span>
	</div>
	<div id="lottery">
		<img src="/manage/static/img/lottery.png"></img>
		<span>彩票业务</span>
	</div>
	<div  class="for_left for_lottery hide">
		<span style="padding-left: 75px;">出票详情</span>
	</div>
	<div  class="for_left for_lottery hide">
		<span style="padding-left: 75px;">中奖派奖</span>
	</div>
	<div  class="for_left for_lottery hide">
		<span style="padding-left: 75px;">彩种设置</span>
	</div>
	<div  class="for_left for_lottery hide">
		<span style="padding-left: 75px;">追号管理</span>
	</div>
	<div id="user_withdraw">
		<img src="/manage/static/img/user_withdraw.png"></img>
		<span style=" ">用户提现</span>
	</div>
	<div  class="for_left for_user_withdraw hide">
		<span style="padding-left: 75px;">提现审核</span>
	</div>
	<div  class="for_left for_user_withdraw hide">
		<span style="padding-left: 75px;">提现结果</span>
	</div>
	<div id="finance_detail">
		<img src="/manage/static/img/finance_detail.png"></img>
		<span>财务明细</span>
	</div>
	<div  class="for_left for_finance_detail hide">
		<span style="padding-left: 75px;">充值明细</span>
	</div>
	<div  class="for_left for_finance_detail hide">
		<span style="padding-left: 75px;">派奖明细</span>
	</div>
	<div id="oper_activity">
		<img src="/manage/static/img/oper_activity.png"></img>
		<span>运营活动</span>
	</div>
	<div  class="for_left for_oper_activity hide">
		<span style="padding-left: 75px;">平台活动</span>
	</div>
	<div id="feedback">
		<img src="/manage/static/img/feedback.png"></img>
		<span>意见反馈</span>
	</div>
{{end}}