<!DOCTYPE html>
<html>
<head>
{{template "header"}}
</head>
<body>
{{template "top" .}}
<div class="cy_left cy_line cy_radius">{{template "left" .}}</div><div class="cy_main">
<!-- 上部导航 -->
<div id="path" class="path">
	{{range .Path}}
	<span>{{.}}</span>
	{{end}}
</div>
<!-- 背景白框 -->
<div class="cy_radius cy_white">
	<form class="form-inline">
		<div class="form-group" style="padding-left: 60px;">
			<input class="date form-control" type="text" name="start" style="background-image: url('./pad.png');background-repeat: no-repeat;" value="起始时间">
		</div>
		<div class="form-group" style="padding-left: 20px">
			<input class="date form-control" type="text" name="end" value="结束时间">
		</div>
		<!-- 一个选择框 -->
		<div class="form-group">
			<label style="margin-left: 484px">明细类型</label>
			<select class="form-control" style="font-family: AdobeHeitiStd Regular;">
			 <option value="all">全部</option>
			  <option value="double_color">双色球</option>
			  <option value="fucai3d">福彩3d</option>
			  <option value="seven_happy">七乐彩</option>
			  <option value="shishicai">时时彩</option>
			  <option value="kuaisan">快3</option>
			</select>
		</div>
	</form>
			<!-- 三个统计框 -->
	<div style="vertical-align: top; display: inline-block; width: 160px;height: 100px; background-color: #f8b551; margin:38px 0px 0px 150px; border-radius: 5px;">
	<span style="display: block;text-align: center; padding-top: 20px;">投注量</span>
	<span style="display: block;text-align: center; padding-top: 20px;">541568</span>
	</div>
	<div style="vertical-align: top; display: inline-block; width: 160px;height: 100px; background-color: #88abda; margin:38px 0px 0px 150px; border-radius: 5px;">
	<span style="display: block;text-align: center;padding-top: 20px;">投注金额</span>
	<span style="display: block;text-align: center; padding-top: 20px;">1083136</span>
	</div>
	<div style="vertical-align: top; display: inline-block; width: 160px;height: 100px; background-color: #eeb2b2; margin:38px 0px 0px 150px; border-radius: 5px;">
	<span style="display: block;text-align: center;padding-top: 20px;">投注用户</span>
	<span style="display: block;text-align: center; padding-top: 20px;">45135</span>
	</div>
	<!-- 一个图表 -->
	<div style="width: 900px; height: 300px; margin: 30px 10px 0px 100px;">
		<canvas id="myChart" ></canvas>	
	</div>
</div>	
</div>

{{template "footer"}}

<script type="text/javascript" src="/manage/static/compressed/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/manage/static/compressed/picker.js"></script>
<script type="text/javascript" src="/manage/static/compressed/picker.date.js"></script>
<script type="text/javascript" src="/manage/static/compressed/Chart.bundle.min.js"></script>
<script type="text/javascript" src="/manage/static/compressed/translations/zh_CN.js"></script>
<script type="text/javascript">
$(function () {
	var winWidth = 800
	var winHeight = 600
	// 获取窗口宽度
	if (window.innerWidth){
		winWidth = window.innerWidth;
		winHeight = window.innerHeight;
	}
	else if ((document.body) && (document.body.clientWidth)){
		winWidth = document.body.clientWidth;
		winHeight = document.body.clientHeight;
	}
	// $("#top").css("width", winWidth-20);
	$("#path").css("width", winWidth-20-178);
	$(".cy_main").css("height", winHeight-55);
	var cyWhiteWidth = winWidth-20-178-30
	$(".cy_white").css("width", cyWhiteWidth);
	$(".cy_white").css("height", winHeight-100);
	// var telformL = (cyWhiteWidth - $(".cy_white form div").width() - $(".cy_white form button").width())/2;
	// $(".cy_white form").css("padding-left", telformL);
	$(".cy_white table").css("width", cyWhiteWidth-120)
	// 分页照30*30算, n+2个btn
	$("nav").css("width", 30*7).css("margin-left",(cyWhiteWidth-210)/2);
	$(".date").pickadate();
	$(".for_left").addClass("hide");
	$(".for_platdata").removeClass("hide");
	var ctx = $("#myChart").get(0).getContext("2d");
	var bardata = {
		labels : ["双色强","福彩3d","七乐彩","时时彩","快3","七星彩","排列三","排列五"],
		datasets : [{
			label:"投注量",
			backgroundColor : "rgba(220,220,220,0.5)",
			borderColor : "rgba(220,220,220,1)",
			data : [230000,600000,280000,400000,560000,900000,400000,80000]
		}]
	};
	window.myBar = new Chart(ctx,{
				type:'bar',
				data:bardata,
				option:{
					elements:{
						// rectangle: {
						// 	borderWidth:2,
						// }
					},
					// responsive:true,
					// legend:{
					// 	position: 'right',
					// },
					// title:{
					// 	display:true,
					// 	text: 'chart.js h bar',
					// }
				}
			})
})
</script>
</body>
</html>